<ion-header>
  <ion-toolbar>
    <ion-title>Список продуктів</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading; else loading">
  <ion-item>
    <ion-label>Тип товару</ion-label>
    <ion-select [(ngModel)]="selectedType" interface="popover" placeholder="Виберіть тип">
      <ion-select-option value="">Усі</ion-select-option>
      <ion-select-option *ngFor="let type of uniqueTypes" [value]="type">
        {{ type }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let product of filteredProducts">
      <ion-label>
        <h2>{{ product.getName() }}</h2>
        <p>{{ product.getDescription() | version }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ng-template #loading>
  <ion-spinner name="crescent"></ion-spinner>
</ng-template>
