<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit Product</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-item *ngIf="products.length > 0">
    <ion-label>Select Product</ion-label>
    <ion-select (ionChange)="onSelectProduct($event)" placeholder="Select a product">
      <ion-select-option *ngFor="let product of products; let i = index" [value]="i">{{ product.getName()}}</ion-select-option>
    </ion-select>
  </ion-item>
  <p *ngIf="products.length === 0">No products available to edit.</p>

  <ion-segment [(ngModel)]="selectedProductType" (ionChange)="onSelectProduct($event)" *ngIf="selectedProductIndex !== null">
    <ion-segment-button value="antivirus" [disabled]="selectedProductType !== 'antivirus'">
      <ion-label>Antivirus</ion-label>
    </ion-segment-button>
    <ion-segment-button value="office" [disabled]="selectedProductType !== 'office'">
      <ion-label>Office Suite</ion-label>
    </ion-segment-button>
    <ion-segment-button value="os" [disabled]="selectedProductType !== 'os'">
      <ion-label>Operating System</ion-label>
    </ion-segment-button>
    <ion-segment-button value="driver" [disabled]="selectedProductType !== 'driver'">
      <ion-label>Driver</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedProductType" *ngIf="selectedProductIndex !== null">
    <app-antivirus-form *ngSwitchCase="'antivirus'" [ngValue]="products[selectedProductIndex]" (submitForm)="onFormSubmit($event)"></app-antivirus-form>
    <app-offsuite-form *ngSwitchCase="'office'" [ngValue]="products[selectedProductIndex]" (submitForm)="onFormSubmit($event)"></app-offsuite-form>
    <app-os-form *ngSwitchCase="'os'" [ngValue]="products[selectedProductIndex]" (submitForm)="onFormSubmit($event)"></app-os-form>
    <app-driver-form *ngSwitchCase="'driver'" [ngValue]="products[selectedProductIndex]" (submitForm)="onFormSubmit($event)"></app-driver-form>
  </div>

  <ion-button *ngIf="selectedProductIndex !== null" (click)="onDeleteProduct()" expand="block" color="danger">Delete Product</ion-button>
