<ion-header>
  <ion-toolbar>
    <ion-title>{{ isRegisterMode ? 'Реєстрація' : 'Логін' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Пароль</ion-label>
    <ion-input type="password" [(ngModel)]="password" required></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="submit()">
    {{ isRegisterMode ? 'Зареєструватися' : 'Увійти' }}
  </ion-button>

  <ion-text color="danger" *ngIf="errorMessage">
    {{ errorMessage }}
  </ion-text>

  <ion-button expand="block" fill="clear" (click)="toggleMode()">
    {{ isRegisterMode ? 'У мене вже є акаунт' : 'Створити акаунт' }}
  </ion-button>
</ion-content>