<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Software Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-loading
    *ngIf="isLoading"
    message="Завантаження товарів..."
    spinner="circles"
    [translucent]="true"
    [animated]="true"
  ></ion-loading>

  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="review">
      <ion-label>Review</ion-label>
    </ion-segment-button>
    <ion-segment-button value="edit">
      <ion-label>Edit</ion-label>
    </ion-segment-button>
    <ion-segment-button value="add">
      <ion-label>Add</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <div [ngSwitch]="selectedSegment" *ngIf="!isLoading">
    <app-review *ngSwitchCase="'review'" [products]="products"></app-review>
    <app-edit *ngSwitchCase="'edit'" [products]="products"></app-edit>
    <app-add *ngSwitchCase="'add'" [products]="products"></app-add>
  </div>
</ion-content>
